@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-anton: var(--font-anton);
  --font-sk-modernist: var(--font-sk-modernist);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  cursor: none;
}

a, button, input, textarea, select {
  cursor: none !important;
}

html::-webkit-scrollbar { display: none; }
html { -ms-overflow-style: none; scrollbar-width: none; }

.fullpage-wrapper { height: 100vh; overflow: hidden; }
.fullpage-content { height: 100%; overflow: auto; }

.cursor-magnetic {
  transition: transform 0.5s ease, width 0.5s ease, height 0.5s ease, border-radius 0.5s ease, text-transform 2s ease;
}